- content_for(:title) { "New Artist" }

%h1
  Edit Artist
- form_for [:admin, @artist], :html => { :multipart => true, :onsubmit => "form_submitted('Saving, please wait...')" } do |f|
  = render :partial => "form", :locals => { :f => f }

