@import url(/stylesheets/simple_classes.css);

input.search {
  padding-left: 16px;
  background: #fff url('/plugin_assets/siteninja_core/images/searchbg.gif') no-repeat;
}

textarea.editor {
  font-size: 1.1em;
  line-height: 1.3em;
}

span.hmenu { margin-right: 15px; }
a.red:hover { background: #f00 !important; color: #fff !important; }
.strike { text-decoration: line-through; color: #777; }
.sale_price { font-weight: bold; }
.icon { vertical-align: text-bottom; }
.large-icon { vertical-align: top; }
a.icon:hover, a.large-icon:hover,
a.lightview:hover { background: none !important; }
.top { vertical-align: top; }
.endrow { margin-right: 0 !important; }
.bold { font-weight: bold; }
.center { text-align: center; }
.right { text-align: right; }
.clear { clear: both; }
.noborder { border: none; }
.nopad { padding: 0; }
.float-right { float: right; }

tr.odd { background: #eee; }

.col-left { float: left; width: 390px; }
.col-right { float: right; width: 390px; }
.col-left h1, .col-right h1 { margin-top: 0; }

.radio-buttons label { margin-right: 20px; }

.form-option { margin-bottom: 1.5em; }
.submit { margin: 2em 0; }
.submit input { font-size: 1.3em; }
.submit, .submit a { color: #777; }
.submit a:hover { color: #fff; background: #999; text-decoration: none; }

.mime { float: left; margin: 0 1em 2em 0; width: 258px; }
.mime .thumb { float: left; margin-right: .8em; }
.mime .info { font-size: .9em; }
.mime .info .info_link { margin-bottom: .4em; }

.fieldWithErrors { display: inline; }
.fieldWithErrors input,
.fieldWithErrors select,
.fieldWithErrors textarea { background: #ff9; }
.fieldWithErrors label { color: #f00; background: #ff9; }

.box {
  background-color: #e9ecff;
  border: 1px solid #c9ccdf;
  padding: 10px;
}

.box h2 { margin-top: 0; }

.tip { margin-bottom: 3em; }
.tip h2 { margin-bottom: .2em; }
.tip .body { margin-top: 1em; }

.tag_cloud { font-size: .8em; width: 300px; }
.cloud1, .cloud2, .cloud3, .cloud4 { margin-right: 15px; line-height: 1.5em; }
.cloud4 { font-size: 1.35em; }
.cloud3 { font-size: 1.2em; }
.cloud2 { font-size: 1em; }
.cloud1 { font-size: .8em; }

.full_width { width: 100%; }
.full_width th { text-transform: capitalize;}

.product { float: left; width: 100%; height:110px; display: block; }
#pricing h2 {margin-bottom: 0px; }
.productimg { float:left; width:85px; height:55px;}
.producttext {float:left; margin-left:15px; width:65%;}
.productprice {float:left; margin:5px 0 5px 5px;}

.product_photos { float: right; margin: 0 0 20px 20px; text-align: center; }
.product_photos .main { padding-bottom: 20px; }

.auto_image {
  float: right;
  margin: 0 0 20px 25px;
}

.auto_video {
  margin: 30px 0;
  clear: both;
}

.highlight {
  background: #ff6;
}
.locdivoff{
}
.locdivon{
background-color:#E9E9E9;
}
.list_of_links {
  list-style: none;
  padding: 0;
  margin-left: 0;
}
.list_of_links li {margin: 5px 0;}
.list_of_links a {
  display: block;
}
#image-nav { margin: 20px 0 0 0;}
.previous-image { text-decoration: none; display: block; float: left; }
  .previous-image img { vertical-align: middle; }
.next-image { text-decoration: none; display: block; float: right; }
  .next-image img { vertical-align: middle; }
.full-width{width: 100%;}

#file-list { width:100%; font-size: .8em; line-height: 24px; }
  #file-list a { text-decoration: none !important; }
  #file-list td { margin: 0; }
  #file-list .name-column { width: 50%; }
  	#file-list .name-column a { display: block; }
  #file-list .file-name-column { width: 20%; }
  	#file-list .file-name-column { font-size: .8em; }
  #file-list .modified-column { width: 20%; }
  #file-list .size-column { width: 10%; }
    #file-list td.size-column { text-align: right; }
/*These are css for jquery tools*/
a.next { background: url(/plugin_assets/siteninja_core/images/arrow/right.png) no-repeat left top; width: 18px; height: 18px; display: block; text-indent: -99999px; float: left; cursor:pointer; margin: 3px; }
  a.next:hover { background-position: left -18px; background-color: transparent !important; }
a.prev { background: url(/plugin_assets/siteninja_core/images/arrow/left.png) no-repeat left top; width: 18px; height: 18px; display: block; text-indent: -99999px; float: left; cursor:pointer; margin: 3px; }
  a.prev:hover { background-position: left -18px; background-color: transparent !important; }
.disabled { color: #acacac !important; }
  .disabled:hover { color: #acacac !important; background-position: left -18px !important;}
.navi { float: left; }
.navi a { background: transparent url(/plugin_assets/siteninja_core/images/arrow/navigator.png) no-repeat scroll 0 0; cursor:pointer; float:left; height:8px; margin: 8px 3px; width:8px; line-height: 18px; }
  .navi a:hover { background-position: 0 -8px; background-color: transparent !important; }
  .navi a.active { background-position: 0 -16px; }
span.right {float: right; margin: 10px 30% 0 0;}
/* Sidebar Stuffs */

.sidebar h1 {
  font-size: 1.65em;
}

.sidebar h2 { margin-bottom: 20px; }
.sidebar h2 a {
  font-size: 65%;
}

.top-headline { margin-top: 0; }

.sidebar li p {
  font-size: .9em;
  padding: 0;
  margin: 0;
  clear: both;
}


.sidebar .more {
  display:inline;
	float:right;
	width:auto;
}
 .sidebar .date {
	padding: 3px;
	margin-bottom: 5px;
}

.sidebar_link_active {
  color: #63a107;
  font-weight: bold;
  padding-right: 20px;
  line-height: 16px;
  background: url('/plugin_assets/siteninja_core/images/icons/green/16x16/Arrow2 Left.png') no-repeat right top;
}

#header-right{float:right;}

#sign_in_button {
background:transparent url(/images/sign_in_button.png) no-repeat scroll 0 0;
color:#666666;
float:right;
font-size:1.35em;
height:50px;
line-height:50px;
padding:0 0 0 15px;
text-align:left;
width:285px;
}

#sign_in_button span {
  margin-left: 23px;
}

#sign_in_button a {
  float: right;
  color: #fff !important;
  margin-right: 25px;
}

#sign_in_button a:hover {
  color: #ff6 !important;
  background: none !important;
  text-decoration: underline;
}

fieldset .form-option { border-bottom: #ccc 1px solid; padding: 0; padding: 10px; line-height: 25px; margin-bottom: 0 !important; }
fieldset .form-option label { display: block; float: left; width: 100px; margin: 0 20px 0 0;}
fieldset .form-option input { line-height: 25px; }
.form-option .options-title { width: 100px; float: left; margin: 0 20px 0 0; }
.form-option .options { float: left; }
.form-option .options label { float: none; display: inline; }
.images.small {margin: 10px 0 10px 10px; padding: 10px; width: 80px;}
.images.small a:hover {background: none !important}
.image-caption { text-align: center; font-size: .8em; margin: 5px 0; }
dt.form-label { font-size: 1.4em; }
dd.form-option { padding-left: 0; margin: 0 0 10px !important; }
.testimonial { background: url("/plugin_assets/siteninja_core/images/quote-left.png") no-repeat left top; }
.testimonial blockquote { background: url("/plugin_assets/siteninja_core/images/quote-right.png") no-repeat right bottom; margin: 0; padding: 0; min-height: 54px; font-size: 1.5em; padding: 10px; line-height: 1.2em; }
.testimonial cite { margin: 0 0 20px 10px; display: block; }
.testimonial.inline { float: right; margin: 20px 0 20px 20px; width: 200px;}
  .testimonial.inline blockquote { font-size: 1.2em; }
#template-form { position: absolute; right: 0;}
.options { float: right; width: 250px; }